<div class="credits text-center">
    <p>
        <a href="https://github.com/lucasfts/mean-stack-controle-de-estoque">
            https://github.com/lucasfts/mean-stack-controle-de-estoque
        </a>
    </p>
</div>
</body>
</html>